

/**[class^="col-lg"]{
    background-color: red;
    height: 50px;**/
}

/**.navbar-light {
    : #2c3e50;
}**/

.container {
    box-sizing: border-box;
}
img {
    width: 250px;
}

.align-items-center {
    align-items:

}
