

/**[class^="col-lg"]{
    background-color: red;
    height: 50px;**/


/**.navbar-light {
    : #2c3e50;
}**/

.col-lg-12 {
    background-color: #2b3e50;
}
.bg-light {
    background-color: red;
}

img {
    width: 250px;
}
